html {
    scroll-behavior: smooth;  
}
body {
    font-family: "Exo 2", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -------------- Header ----------------- */
header {
    background: linear-gradient(130deg, #fdcd3b 60%, #ffed4b 60%);  
    width: 100vw;
    height: 100vh;
}
.nav-bar {
    padding: 70px;
    margin: auto;
    width: 50%;
    text-align: center;
    font-weight: bold;
}
.nav-bar ul {
    padding-left: 0;
}
.nav-bar ul > li{
    display:inline-block;
    text-decoration: none;
}
.nav-bar a {
    text-decoration: none;
    color: black;
    padding: 15px;
}
.nav-bar a:hover {
    background-color: #fff55a;
}
.main-header {
    color: #f55e3c;
    font-size: 9vh;
    font-family: "Unica One", cursive;
    width: 50%;
    text-align: center;
    margin: auto;
    padding-top: 5vh;
}
/* -------------- Main ----------------- */
#who {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(72deg, rgba(185,185,185,1) 0%, rgba(228,228,228,1) 37%, rgba(255,255,255,1) 60%);
    font-weight: 800;
    text-align: left;
}
.section-left {
    flex: 1;
    margin-left: 15vw;
    margin-top: 20vh;
    flex-grow: 4
    
}
.section-left h1 {
    font-size: 6vw;
    color: #f55e3c;
    line-height: 0;
}
.section-left h3 {
    color: #1544c0;
    line-height: 0;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-size: 1.4em;
    margin-bottom: -50px;
    padding-left: 10px;
}
.section-left p {
    font-size: 1.2em;
    color: rgb(44, 43, 43);
    line-height: 1.5em;
    padding-right: 250px;
    margin-top: -50px;
}
.second-paragraph {
    padding-top: 80px;
}
.section-left ul {
    padding-left: 0px;
    padding-top: 20px;
}
.section-left ul > li {
    display:inline-block;
    padding: 5px;
    text-decoration: none;
}
.section-left a {
    color: black;
}
.section-left a:hover {
    color: #1544c0;
}
.section-right{
    flex: 2;
    margin-right: 10vw;
    margin-top: 20vh;
}
#work {
    width: 100vw;
    height: 80vh;
    background: linear-gradient(40deg, #fdcd3b 60%, #ffed4b 60%);
    font-weight: 800;
    text-align: center;
    margin-top: 0;
    padding-top: 20vh;
}
#work h1 {
    color: white;
    line-height: 0.1;
    font-size: 7vw;
}
#work h1::first-letter {
    font-size: 120%;
}
.recent-work {
    font-size: 24px;
    padding: 20px 40px;
    border: 2px solid #f55e3c;
    background-color: inherit;
    border-radius: 50px;
}
button:hover {
    color: white;
    background-color: #f55e3c;
}
/*--------------Foooter---------------*/
footer {
    width: 100vw;
    height: 60vh;
    background: linear-gradient(320deg, rgba(185,185,185,1) 0%, rgba(228,228,228,1) 37%, rgba(255,255,255,1) 60%);
    text-align: center;
    padding-top: 100px;
}
footer h1 {
    font-size: 3vw;
}
footer p {
    font-size: 1.6em;
    color: rgb(44, 43, 43);
    padding-top: 10px;
}
footer ul {
    padding-left: 0px;
}
footer ul > li {
    display:inline-block;
    text-decoration: none;
    padding-top: 30px;
    padding-right: 5px;
}
footer a {
    text-decoration: none;
    color: black;
    padding: 10px;
}
footer a:hover {
    color: #1544c0;
}