body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #313944;
}
.main-header{
	display: flex;
	background-color: #EFF3F2;
}
.logo{
	flex: 1;
	max-width: 100%;
    padding: 300px 0px;
    font-size: 1.6em;
    font-family: 'Unica One', cursive;
    color: #DE5362;
}
.background {
	flex: 2;
	background-image: url("resources/images/dev.jpg");
	min-height: 90vh;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.test {
    font-size: 18px;
    position: absolute;
    left: 200px;
}
h1 {
    text-align: center;
    padding-top: 25px;
}
h2 {
    margin-left: 20px;
}
#prviparagraf {
    color: chocolate;
    padding: 10px 100px;
    
}
#drugiparagraf {
    color: gray;
    padding: 10px 100px;
}
ul > li {
    color: rgb(223, 85, 85);
    padding: 2px;
}
ol > li {
    color: rgb(39, 35, 35);
    padding: 1px;
}